body			
				{padding-top: 50px;
				padding-right: 30px;
				padding-bottom: 50px;
				padding-left:80px;

				font-family: arial;
				color: navajowhite;
				background-color: slategray;}

nav				
				{font-weight: bold;
				color: white;
				border: 2px solid olive;
				text-align: center;
				width: 10em;
				background-color: cadetblue;}

nav ul			{display: none;
				list-style: none;
				margin: 0;
				padding: 0;
				position: absolute;
				top: 25px;
				left: 100px;
				width:"50%";}

nav:hover ul    {display:block;}

nav ul li		{border-right: 2px solid olive;
				background-color: ghostwhite;
				width: 10em;
				color: black;
				padding-top: 50px;
				padding-right: 30px;
				padding-bottom: 50px;
				padding-left:80px
				border: 1px solid black;
 				margin-top: 100px;
 				margin-bottom: 100px;
  				margin-right: 150px;
  				margin-left: 80px;
  				background-color: antiquewhite;}

nav ul li:hover {background-color: olivedrab;}

a 				{text-decoration: none;}


h1{color: whitesmoke; margin-left: 40pt;}
p{font-family: arial;color: navajowhite;
	padding-top: 50px;
	padding-right: 30px;
	padding-bottom: 50px;
	padding-left:80px}
em{font-weight: bold; color: white;}
span{color: lightyellow;}

ul				{top: 400px;
				left: 40px;
				width:"10%";
				position: absolute;}

li 				{background: darkblue;

				margin-top: 5px;
 				margin-bottom: 5px;
  				margin-right: 5px;
  				margin-left: 80px;

  				padding-top: -10px;
				padding-right: -5px;
				padding-bottom: -10px;
				padding-left:-5px

				border-right: 2px solid olive;}

		
		#myHeader{
			background-color: cadetblue;
			color: whitesmoke; 
			padding: 40pt;
			text-align: center;
		}
		.hw2Class{
			background-color: darkseagreen;
			color: whitesmoke; 
			padding: 5pt;
		}

		.sub{position: relative;
			 left: -1ex}

		.background_image{
			position: absolute;
			top: 0px;
			right: 0px;
			z-index: 1;
		}

		.foreground_image{
			position: absolute;
			top: 25px;
			right: 100px;
			z-index: 2;
		}

		.text{
			position: absolute;
			top: 25px;
			right: 100px;
			z-index: 3;
		}

div {
  border: 1px solid black;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 80px;
  margin-left: 80px;
  background-color: black;
}

@media screen and (min-width: 480px){
	body{
		background-color: coral;
	}
}